body {
    margin: 0;
    padding: 0;
    background-image: url('./Imagem\ fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9; 
}

form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333; 
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #3498db; 
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db; 
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9; 
}